In [4]:
import pyspark.sql.functions as F


traces = spark.read.parquet(f"s3://mobility-traces-sp/processed-data-avl-date/2-register-between-6-23-with-all-region-of-sp/MO_1510{1}/")
df = traces.filter("region == 'None'")

df.write.parquet("s3://mobility-traces-sp/traces-out-of-sp/MO_15101/")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

In [24]:
import folium
import pandas as pd

map_folium = folium.Map([-23.477476,-46.610409], zoom_start=12)

tile = folium.TileLayer('OpenStreetMap').add_to(map_folium)

df = pd.read_parquet("./plot-data/out-of-sp-MO_15101/")

bus = 57770
df = df.loc[df["id_avl"] == bus]

coords = df[["latitude","longitude"]].values.tolist()

for coord in coords:
    icon = folium.features.CustomIcon('red-point.png', icon_size=(10,10))
    folium.Marker(coord,icon=icon).add_to(map_folium)
    


    
map_folium.save(f"./plot-data/out_of-sp-bus-{bus}-MO_15101.html")

In [15]:
import pandas as pd

df = pd.read_parquet("./plot-data/out-of-sp-MO_15101/")
count_points_out_per_bus = df["id_avl"].value_counts()
df2 = pd.DataFrame({'bus':count_points_out_per_bus.index, 'count':count_points_out_per_bus.values})
# df2.loc[df2["count"] < 50]
# df2.loc[df["id_avl"] == 39508].sort_values(by="dt_avl")
df2.head()

     bus  count
0  53154   1362
1   9214   1354
2  37774   1351
3  58227   1347
4  11477   1347

In [21]:
print("Number of buses",df2["bus"].nunique())
print("Number of register",len(df))

Number of buses 3288
Number of register 151356

In [22]:
print("Number of buses with 1 or 2 points", len(df2.loc[df2["count"] < 3]))

Number of buses with 1 or 2 points 621